/* Estilo para o contêiner do menu */
.menu-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Estilo para a lista não ordenada do menu */
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para os itens do menu */
  .menu-item {
    margin-bottom: 5px;
  }
  
  /* Estilo para os links do menu */
  .menu-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para os links do menu quando hover */
  .menu-link:hover {
    background-color: #e9ecef;
  }
  