<!-- Formulário Bootstrap -->
<form>
  <div class="form-group">
    <h2>Selecione os módulos</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Módulo</th>
          <th>Descrição</th>
          <th>Selecionar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Módulo 1</td>
          <td>Descrição do módulo 1</td>
          <td>
            <input type="checkbox" name="modulos[]" value="modulo1">
          </td>
        </tr>
        <tr>
          <td>Módulo 2</td>
          <td>Descrição do módulo 2</td>
          <td>
            <input type="checkbox" name="modulos[]" value="modulo2">
          </td>
        </tr>
        <tr>
          <td>Módulo 3</td>
          <td>Descrição do módulo 3</td>
          <td>
            <input type="checkbox" name="modulos[]" value="modulo3">
          </td>
        </tr>
        <!-- Adicione mais linhas para os demais módulos -->
      </tbody>
    </table>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>